---
title: " "
layout: splash
permalink: /supervision/
date: 2023-2-14
header:
    overlay_color: "#000"
    overlay_filter: "0.3"
    overlay_image: sjtu2.png
leader_row:
  - image_path: groups/xiaohongliu_square.png
    image_width: 400px
    image_height: 400px
    alt: "placeholder image"
    title: "Xiaohong Liu 刘笑宏"
    excerpt: 'Tenure-Track Assistant Professor<br/>
    <a href= "http://jhc.sjtu.edu.cn/">John Hopcroft Center (JHC)</a> for Computer Science<br/>
    Office: SEIEE 3-301B<br/>
    Email: <a href= "xiaohongliu@sjtu.edu.cn">xiaohongliu@sjtu.edu.cn</a>'
Post-doc:
  - image_path: groups/baixuanzhao.png
    alt: "placeholder image"
    image_width: 250px
    excerpt: "<h3><b>Baixuan Zhao 赵柏暄</b></h3>
    Post-doc<br/>
    2024.10 - current"
phd:
  - image_path: groups/guangyangwu.png
    alt: "placeholder image"
    image_width: 250px
    excerpt: "<h3><b>Guangyang Wu 吴广阳</b></h3>
    
    Ph.D. student<br/>
    2023.09 - current"
  - image_path: groups/wenhaoli.png
    alt: "placeholder image"
    image_width: 250px
    excerpt: "<h3><b>Wenhao Li 李文颢</b></h3>
    
    Ph.D. student<br/>
    2023.09 - current"
  - image_path: groups/siqiluo.png
    alt: "placeholder image"
    image_width: 250px
    excerpt: "<h3><b>Siqi Luo 罗思琪</b></h3>
    
    Ph.D. student<br/>
    2024.09 - current"
  - image_path: groups/huayuzheng.jpg
    alt: "placeholder image"
    image_width: 250px
    excerpt: "<h3><b>Huayu Zheng 郑华渝</b></h3>
    
    Ph.D. student<br/>
    2025.09 - current"
master: 
  - image_path: groups/xiufengsong.png
    alt: "placeholder image"
    excerpt: "<h3><b>Xiufeng Song 宋修丰</b></h3>
    Master's student<br/>
    2023.09 - current"
  - image_path: groups/xielewu.png
    alt: "placeholder image"
    excerpt: "<h3><b>Xiele Wu 吴偕乐</b></h3>
    Master's student<br/>
    2023.09 - current"
  - image_path: groups/shushiwang1.png
    alt: "placeholder image"
    excerpt: "<h3><b>Shushi Wang 王书石</b></h3>
    Master's student<br/>
    2024.09 - current"
  - image_path: groups/youranding.png
    alt: "placeholder image"
    excerpt: "<h3><b>Youran Ding 丁悠然</b></h3>
    Master's student<br/>
    2024.09 - current"
  - image_path: groups/yunhaoyi.png
    alt: "placeholder image"
    excerpt: "<h3><b>Yunhao Yi 益昀昊</b></h3>
    Master's student<br/>
    2025.09 - current"
  - image_path: groups/minghongZhang.jpg
    alt: "placeholder image"
    excerpt: "<h3><b>Minghong Zhang 张明宏</b></h3>
    Master's student<br/>
    2025.09 - current"
undergraduate: 
  - image_path: groups/telangxu.png
    alt: "placeholder image"
    excerpt: "<h3><b>Telang Xu 许特浪</b></h3>
    Undergraduate<br/>
    SJTU SEIEE, AI Class<br/>"
  - image_path: groups/xinyuche.png
    alt: "placeholder image"
    excerpt: "<h3><b>Xinyu Che 车昕宇</b></h3>
    Undergraduate<br/>
    SJTU Zhiyuan, John Hopcroft Class<br/>"
  - image_path: groups/hantaojiang.png
    alt: "placeholder image"
    excerpt: "<h3><b>Hantao Jiang 蒋涵涛</b></h3>
    Undergraduate<br/>
    SJTU Zhiyuan, ACM Class<br/>"
  - image_path: groups/hangzhou.png
    alt: "placeholder image"
    excerpt: "<h3><b>Hang Zhou 周航</b></h3>
    Undergraduate<br/>
    SJTU Zhiyuan, John Hopcroft Class<br/>"
---


<!-- intro: 
  - excerpt: 'Join us, for Computer Vision, which includes, among others, image/video restoration and segmentation' -->
<!-- <img src="../images/allpeople.jpg" alt="this is a placeholder image" width="300px" height="200px"> -->

{% include feature_row id="intro" type="center" %}

<h2>Supervisor</h2>

{% include feature_row id="leader_row" type="left" %}

<h2>Current Students</h2>

<h3>Post-doc</h3>

{% include feature_row id="Post-doc" %}

<h3>Ph.D.</h3>

{% include feature_row id="phd" %}

<h3>Master</h3>

{% include feature_row id="master" %}

<h2>Undergraduate</h2>

{% include feature_row id="undergraduate" %}

<h2>Undergraduate Thesis Supervision</h2>
<h3>2025</h3>
<ol>
  <li>Huayu Zheng (郑华渝), SJTU SEIEE, CS. Thesis title: Research on Virtual Try-on Algorithms with Integrated Personalized Pose Editing</li>
  <li>Haodong Yang (杨昊东), SJTU SEIEE, CS. Thesis title: Pixel-level Video Object Tracking Dataset Generation and Dense Tracking Method</li>
</ol>
<h3>2024</h3>
<ol>
  <li>Zhenghao Gan (干正浩), SJTU SEIEE, AI Class. Thesis title: Audio-Assisted Face Video Restoration</li>
  <li>Yongyang Pan (潘永阳), SJTU SEIEE, AI Class. Thesis title: AIGC Detection and Identification</li>
  <li>Sizhe Lv (吕嗣哲), SJTU SEIEE, AI Class. Thesis title: Object-Centric Video Editing</li>
  <li>Hongqiao Li (李泓桥), SJTU SEIEE, CS. Thesis title: AIGC Quality Assessment</li>
</ol>
<h3>2023</h3>
<ol>
  <li>Xiufeng Song (宋修丰), SJTU SEIEE, CS. Thesis title: Proactive Image Manipulation Detection and Localization Based on Deep Learning</li>
</ol>
<hr>


<h2 style="margin-top: 30px; margin-bottom: 30px;">Alumni</h2>
<body>
  <div class="students">
    <div class="student-container">
        <img src="../images/groups/yunlongdong.png" alt="Yunlong Dong" class="student-photo">
        <div class="student-info">
            <p class="student-name">Yunlong Dong 董云龙</p>
            <p>Master's student from 2022 to 2025. First job at Alibaba.</p>
        </div>
    </div>
  </div>
</body>
<h2 style="margin-top: 30px; margin-bottom: 30px;">Former supervised students</h2>


<head>
  <style>
      .students {
          display: flex;
          flex-wrap: wrap; /* 允许换行，使多列布局 */
          justify-content: space-between; /* 使每一行的项目之间保持均匀分布 */
      }

      .student-container {
          display: flex;
          align-items: flex-start;
          width: 48%; /* 每个容器占据48%的宽度 */
          margin-bottom: 20px; /* 每个学生容器的下方间距 */
          box-sizing: border-box; /* 确保边距和宽度计算正确 */
      }

      .student-photo {
          width: 150px;
          height: 150px;
          margin-right: 20px;
      }

      .student-info {
          max-width: 400px;
          line-height: 1.6;
      }

      .student-name {
          font-weight: bold;
      }

      @media (max-width: 768px) {
          .student-container {
              width: 100%; /* 在较小屏幕上每行显示一个 */
          }
      }
  </style>
</head>
<body>
  <div class="students">
    <div class="student-container">
        <img src="../images/groups/ruiyiwang.png" alt="Ruiyi Wang" class="student-photo">
        <div class="student-info">
            <p class="student-name">Ruiyi Wang 王睿一</p>
            <p>SJTU-Michigan, ECE. Undergraduate research assistant from 2023 to 2024. Now pursuing the Master’s degree at University of California San Diego.</p>
        </div>
    </div>

    <div class="student-container">
        <img src="../images/groups/yongyangpan.png" alt="Yongyang Pan" class="student-photo">
        <div class="student-info">
            <p class="student-name">Yongyang Pan 潘永阳</p>
            <p>SJTU SEIEE, AI Class. Undergraduate research assistant from 2023 to 2024. Now pursuing the Master’s degree at University of Illinois Urbana-Champaign.</p>
        </div>
    </div>

    <div class="student-container">
        <img src="../images/groups/jiachezhang.png" alt="Jiache Zhang" class="student-photo">
        <div class="student-info">
            <p class="student-name">Jiache Zhang 张佳澈</p>
            <p>SJTU-Michigan, ECE. Undergraduate research assistant from 2023 to 2024. Now pursuing the Master’s degree at Carnegie Mellon University.</p>
        </div>
    </div>

    <div class="student-container">
      <img src="../images/groups/sizhelv.png" alt="Jiache Zhang" class="student-photo">
      <div class="student-info">
          <p class="student-name">Sizhe Lv 吕嗣哲</p>
          <p>SJTU SEIEE, AI Class. Undergraduate research assistant from 2023 to 2024. Now pursuing the Master’s degree at University of Washington.</p>
      </div>
    </div>

    <div class="student-container">
      <img src="../images/groups/yuhaowang.png" alt="Jiache Zhang" class="student-photo">
      <div class="student-info">
          <p class="student-name"><a href= "https://acm.sjtu.edu.cn/~yuhaowang/"><b><font color="#000000">Yuhao Wang 王俞皓</font></b></a></p>
          <p>SJTU Zhiyuan, ACM Class. Undergraduate research assistant from 2023 to 2024. Now pursuing the Ph.D. degree at Shanghai Jiao Tong University.</p>
      </div>
    </div>

    <div class="student-container">
      <img src="../images/groups/qiruili.png" alt="Jiache Zhang" class="student-photo">
      <div class="student-info">
          <p class="student-name">Qirui Li 李奇睿</p>
          <p>SJTU SEIEE, AI Class. Undergraduate research assistant from 2023 to 2024. Now pursuing the Ph.D. degree at Shanghai Jiao Tong University.</p>
      </div>
    </div>

    <div class="student-container">
      <img src="../images/groups/xuehaocui.png" alt="Jiache Zhang" class="student-photo">
      <div class="student-info">
          <p class="student-name">Xuehao Cui 崔学浩</p>
          <p>SJTU-Michigan, ECE. Undergraduate research assistant from 2023 to 2024. Now pursuing the Ph.D. degree at University of Maryland, College Park.</p>
      </div>
    </div>
    <div class="student-container">
        <img src="../images/groups/tianyizhang.png" alt="Tianyi Zhang" class="student-photo">
        <div class="student-info">
            <p class="student-name">Tianyi Zhang 张天一</p>
            <p>TJU CEIE, CS. Undergraduate research assistant from 2024 to 2025. Now pursuing the Master’s degree at The George Washington University.</p>
        </div>
    </div>
    <div class="student-container">
        <img src="../images/groups/ShengraoChen.jpg" alt="Shengyao Chen" class="student-photo">
        <div class="student-info">
            <p class="student-name">Shengyao Chen 陈圣尧</p>
            <p>SJTU Zhiyuan, ACM Class. Undergraduate research assistant from 2024 to 2025. Now pursuing the Ph.D. degree at Shanghai Jiao Tong University.</p>
        </div>
    </div>
    <div class="student-container">
        <img src="../images/groups/kangruicen.png" alt="Kangrui Cen" class="student-photo">
        <div class="student-info">
            <p class="student-name">Kangrui Cen 岑康瑞</p>
            <p>SJTU Zhiyuan, John Hopcroft Class. Undergraduate research assistant from 2024 to 2025. Now pursuing the Ph.D. degree at The Hong Kong Polytechnic University.</p>
        </div>
    </div>
    <div class="student-container">
        <img src="../images/groups/xunchuzhou.png" alt="Xunchu Zhou" class="student-photo">
        <div class="student-info">
            <p class="student-name">Xunchu Zhou 周恂初</p>
            <p>SJTU SEIEE, IEEE Class. Undergraduate research assistant from 2023 to 2025. Now pursuing the Ph.D. degree at Shanghai Jiao Tong University.</p>
        </div>
    </div>
  </div>
</body>
